body{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
}
:root{
    --background-color:#;
    --txt-color:#000000;
    --txt-color-2:white;
    --main-color:#3DCD58;
    --only-logo-color:#009530;
    --support-color-1:#626469;
    --support-color-2:#9FA0A4;
    --skye-blue:#42B4E6;
    --se-sonflower-yellow:#FFD100;
    --se-honeysuckle-orange:#E47F00;
    --se-fuchsia-red:#B10043;
    --font-family:"Nunito", sans-serif;

    --lofi:#626469;

}
/*mobile*/
@media (max-width: 699px) {
    .logo {
        width: 10px;
        border-radius: 9999999;
    }
    
    .nyher {
        font-family: var(--font-family);
        color: var(--txt-color);
    }
    
    .opretbruger-btn {
        background-color: var(--main-color);
        padding: 10px;
        text-decoration: none;
        color: var(--txt-color-2);
        border-radius: 8px;
        display: flex;
    }
    
    .login-btn {
        text-decoration: none;
        background-color: var(--main-color);
        color: var(--txt-color-2);
        padding: 10px;
        border-radius: 8px;
        display: flex;
    }
/*index html til desktop*/
.navbar{
   display: none;
}
.nav-ul{
    display: none;
}
a{
    display: none;
}
.downloade-btn{
    display: none;
}
.desktop{
    display: none;
}
.desktop-txt, .desktop-txt-1{
    display: none;
}
.desktop-img{
    display: none;
}
/*forside logget ind*/
.navbar-bund {
    background-color: var(--txt-color-2);
    color: var(--support-color-1);
    border-top: 3px solid var(--main-color);
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.bund-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Juster indholdet jævnt langs vandret akse */
    margin: 0;
    padding: 0;
}

.nav-a {
    text-decoration: none;
    color: var(--txt-color);
}

.icon{
    display: flex;
    
}
/*bokse*/
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* To kolonner */
    margin: 10px;
    gap: 10px; /* Afstand mellem bokse */
}

.column {
    display: grid;
    grid-template-rows: repeat(4, auto); /* Fire rækker */
    gap: 20px; /* Afstand mellem bokse */
}

.box {
    background-color: var(--main-color);
    padding: 20px;
    height: 30px;/*størrelsen på kasserne*/
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.box img {
    max-width: 40px;
    max-height: 30px;
    margin-right: 10px;
}

.box a {
    text-decoration: none;
    color: var(--txt-color-2);
}
.icon-box{
    display: flex;
    flex-direction: column;
}
}




/*Opret bruger- Louise*/

/*log in- Shirley (index)*/

/*trin guide- Lotte*/

/*chat-Tanja*/


/*tablet*/
@media (min-width:700px){

}
/*desktop*/
@media (min-width:900px){
    /*downloade side*/
    .navbar {
        background-color: var(--txt-color-2);
        border-bottom: 3px var(--main-color);
        max-width: 100vh;
        border-bottom: 3px solid var(--main-color);

        
      
    }
    
    .nav-ul {
        list-style: none;
        text-decoration: none;
        display: flex;
        padding: 20px;
        justify-content: space-between;
    }
    .logo-navn{
        color: var(--main-color);
    }
    
    a {
        text-decoration: none;
        color: var(--main-color);
        
    }
    
    .downloade-btn {
        background-color: var(--main-color);
        color: var(--txt-color-2);
        display: flex;
        width: 305px;
        height: 84px;
        padding: 26px 80px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: larger;
        flex-shrink: 0;
    }
    /*html til mobile*/
.logo,
.nyher,
.opretbruger-btn,
.login-btn {
    display: none;
}
/*html til mobil slut*/
.desktop-img{
    position: absolute;
    left: 1000px;
}
.desktop-title{
    color: var(--main-color);
    letter-spacing: -1.34px;
    align-items: center;
   
}
.desktop{
    font-family: var(--font-family);
    letter-spacing: -1.34px;
    color: var(--main-color);
}
.desktop-txt{
    position: relative;
    color: var(--se-honeysuckle-orange);
    font-family: var(--font-family);
    font-size: larger;
    left: 900px;
    
}
.desktop-txt-1{
    color: var(--txt-color);
}
}