/*Gennerelt styling*/
body {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
}

:root {
    --background-color: #;
    --txt-color: #000000;
    --txt-color-2: white;
    --main-color: #3DCD58;
    --only-logo-color: #009530;
    --support-color-1: #626469;
    --support-color-2: #9FA0A4;
    --skye-blue: #42B4E6;
    --se-sonflower-yellow: #FFD100;
    --se-honeysuckle-orange: #E47F00;
    --se-fuchsia-red: #B10043;
    --font-family: "Nunito", sans-serif;

    --lofi: #626469;

}

/*generelt styling slut*/


@media (max-width: 600px) {
    .navbar-top {
        display: flex;
        height: 55px;
        /* Sætter højden til 30px */
        justify-content: space-between;
        /* Placerer elementer yderst til venstre og højre */
        align-items: center;
        /* Centrerer elementer lodret */
        border-bottom: 1px solid var(--main-color);
        padding: 0 20px;
        /* Tilføjer lidt indvendig afstand */
    }

    .top-nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        /* Sørger for, at .top-nav fylder tilgængelig plads */
    }

    .logo-left {
        display: flex;
        align-items: center;
    }

    .logo-left img {
        display: block;
        margin-right: 10px;
        /* Tilføjer afstand mellem logo og tekst */
        height: 20px;
        /* Tilføjer en højde til logoet for at passe indenfor navbar-højden */
    }

    .logo-txt {
        text-decoration: none;
        color: var(--main-color);
        /* Tilføjer farve til teksten */
        font-weight: bold;
        /* Tilføjer fed skrift */
        font-size: 16px;
        /* Justerer skriftstørrelsen for at passe indenfor navbar-højden */
    }

    .topbar1,
    .tilbage {
        margin-left: 50px;
        /* Tilføjer afstand mellem ikoner */
        height: 20px;
        /* Tilføjer en højde til ikonerne for at passe indenfor navbar-højden */
    }

    .tilbage {
        margin-left: 70px;
        /* Flytter tilbagepil til højre side */
    }

    /*Navbar til toppen af appen slut*/

    /*Navbar til bunden*/
    .navbar-bund {
        background-color: var(--txt-color-2);
        color: var(--support-color-1);
        border-top: 3px solid var(--main-color);
        padding: 0px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 5;
    }
    
    .bund-nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;
        padding: 0;
    }
    
    .nav-a {
        text-decoration: none;
        color: var(--txt-color);
    }
    
    .icon {
        display: block;
        margin-bottom: 10px;
    }
    
    /* nav bar til bunden af appen slut */

    /*CSS mobile version*/
    .navn-e,
    .Velkommen-index,
    .container,
    .logo,
    .nyher,
    .opretbruger-btn,
    .login-btn,
    .opretbruger-btn,
    .login-btn,
    .allerede-bruger, 
    .navbar,
    .app-download-btn, 
    .img-elice,
    .desktop-chat-txt,
    .title-chat {
        display: none;
    }

    /*chatbot Elice*/
    .chatbot header {
        background-color: var(--main-color);
        color: var(--txt-color-2);
        padding: 10px;
        border-bottom: 1px solid var(--txt-color);
        text-align: center;
    }

    .chatbox {
        list-style: none;
        padding: 10px;
        margin: 0;
        height: 300px;
        overflow-y: auto;
    }

    .chat {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .chat.incoming {
        justify-content: flex-start;
        background-color: var(--main-color);
        color: var(--txt-color-2);
        border-radius: 10px;

    }

    .chat.outgoing {
        justify-content: flex-end;
        background-color: var(--support-color-2);
        color: var(--txt-color);
        border-radius: 10px;



    }


    .chat-input {
        display: flex;
        align-items: center;
        padding: 10px;
        border-top: 1px solid #ddd;
    }

    .chat-input textarea {
        flex-grow: 1;
        padding: 10px;
        height: 100px;
        border: none;
        resize: none;
    }

    .input-icons {
        display: flex;
        align-items: center;
    }

    #send-btn {
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
    }

    .icon-chat {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        cursor: pointer;
    }

    .bot-img {
        height: 25px;
        width: 25px;

    }
}

.top-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* Sørger for, at .top-nav fylder tilgængelig plads */
}

.logo-left {
    display: flex;
    align-items: center;
}

.logo-left img {
    display: block;
    margin-right: 10px;
    /* Tilføjer afstand mellem logo og tekst */
    height: 20px;
    /* Tilføjer en højde til logoet for at passe indenfor navbar-højden */
}

.logo-txt {
    text-decoration: none;
    color: var(--main-color);
    /* Tilføjer farve til teksten */
    font-weight: bold;
    /* Tilføjer fed skrift */
    font-size: 16px;
    /* Justerer skriftstørrelsen for at passe indenfor navbar-højden */
}

.topbar1,
.tilbage {
    margin-left: 50px;
    /* Tilføjer afstand mellem ikoner */
    height: 20px;
    /* Tilføjer en højde til ikonerne for at passe indenfor navbar-højden */
}

.tilbage {
    margin-left: 70px;
    /* Flytter tilbagepil til højre side */
}

/*Navbar til toppen af appen slut*/

/*CSS mobile version*/
.navn-e,
.Velkommen-index,
.container,
.logo,
.nyher,
.opretbruger-btn,
.login-btn,
.opretbruger-btn,
.login-btn,
.allerede-bruger {
    display: none;
}

/*chatbot Elice*/
.chatbot header {
    background-color: var(--main-color);
    color: var(--txt-color-2);
    padding: 10px;
    border-bottom: 1px solid var(--txt-color);
    text-align: center;
    
}

.chatbox {
    list-style: none;
    padding: 10px;
    margin: 0;
    height: 300px;
    overflow-y: auto;
}

.chat {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat.incoming {
    justify-content: flex-start;
    background-color: var(--main-color);
    color: var(--txt-color-2);
    border-radius: 10px;

}

.chat.outgoing {
    justify-content: flex-end;
    background-color: var(--support-color-2);
    color: var(--txt-color);
    border-radius: 10px;



}


.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-input textarea {
    flex-grow: 1;
    padding: 10px;
    height: 100px;
    border: none;
    resize: none;
}

.input-icons {
    display: flex;
    align-items: center;
}

#send-btn {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.icon-chat {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.bot-img {
    height: 25px;
    width: 25px;

}

/*desktop*/
@media (min-width:900px) {
    /*mobile css*/
    .top-nav {
        display: none;
    }

    /*desktop navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--txt-color-2);
        border: 1px solid var(--main-color);
        padding: 25px 20px;
        top: 100px
    }

    .nav-ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav-ul a {
        text-decoration: none;
        color: var(--main-color);
        padding: 10px;
    }

    .nav-ul li {
        position: relative;
        margin-right: 20px;
    }

    .nav-ul li:last-child {
        margin-right: 0;
    }

    .logo-navn {
        color: var(--main-color);
        font-size: 18px;
        text-decoration: none;
    }

    .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--txt-color-2);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .sub-menu li {
        width: 200px;
        /* ændre størrelsen på submenuen. */
    }

    .sub-menu li a {
        display: block;
        padding: 10px;
        color: var(--main-color);
        text-decoration: none;
    }

    .sub-menu li a:hover {
        background-color: var(--main-color);
        color: var(--txt-color-2);
        width: 200px;
    }

    .nav-ul li:hover .sub-menu {
        display: block;
    }

    /*desktop navbar slut*/

    .container-index {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
    }

    .text-content {
        flex: 1;
    }

    .txt-content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .image-content {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        left: -200px;
    }

    .desktop-img {
        max-width: 100%;
        height: auto;
        margin: 60px 70px 0 0;
    }

    .desktop-title,
    .desktop,
    .desktop-txt-1,
    .desktop-txt,
    .btn-chat {
        margin: 10px 0;
    }

    .btn-chat {
        display: inline-block;
        background-color: var(--main-color);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin: 10px 0;
    }

    .desktop-title {
        color: var(--main-color);
        letter-spacing: -1.34px;
        font-size: 60px;
        align-items: center;
        padding: 30px;
    }

    .desktop {
        font-family: var(--font-family);
        letter-spacing: -1.34px;
        color: var(--main-color);
        padding: 0px 40px 0px 40px;
    }

    .desktop-txt {
        position: relative;
        color: var(--se-honeysuckle-orange);
        font-family: var(--font-family);
        font-size: larger;
        top: 200px;
        left: 300px;
    }

    .desktop-txt-1 {
        position: relative;
        color: var(--txt-color);
        top: 100px;
        left: 780px;
    }

    .btn-chat {
        position: relative;
        height: 40px;
        width: 200px;
        margin: 40px;
        background: var(--main-color);
        color: var(--txt-color-2);
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        top: 100px;
        left: 100px;
    }

    /*chat-Tanja*/
    /*chatbot Elice*/
    .chatbot {
        position: absolute;
        right: 10px;
        top: 85px; /* Juster denne værdi hvis din navbar har en bestemt højde */
        margin-right: 20px;
        z-index: 1000; /* Sørger for at chatbotten er over andre elementer */
        border:  1px solid var(--se-honeysuckle-orange);
        border-radius: 3px;
    }
    .chatbot header {
        background-color: var(--main-color);
        color: var(--txt-color-2);
        padding: 10px;
        border-bottom: 1px solid var(--txt-color);
        text-align: center;
        width: 400px;

    }

    .chatbox {
        list-style: none;
        padding: 10px;
        margin: 0;
        height: 300px;
        overflow-y: auto;
        width: 400px;
        
    }

    .chat {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        
    }

    .chat.incoming {
        justify-content: flex-start;
        background-color: var(--main-color);
        color: var(--txt-color-2);
        border-radius: 10px;

    }

    .chat.outgoing {
        justify-content: flex-end;
        background-color: var(--support-color-2);
        color: var(--txt-color);
        border-radius: 10px;
    }

    .chat-input {
        display: flex;
        align-items: center;
        padding: 10px;
        border-top: 1px solid #ddd;
        width: 400px;
    }

    .chat-input textarea {
        flex-grow: 1;
        padding: 10px;
        height: 100px;
        border: none;
        resize: none;
        
    }

    .input-icons {
        display: flex;
        align-items: center;
    }

    #send-btn {
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
    }

    .icon-chat {
        width: 24px;
        height: 24px;
        margin-left: 10px;
        cursor: pointer;
    }

    .bot-img {
        height: 25px;
        width: 25px;

    }

    /*styling af desktop html*/
    .app-download-div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; /* Horisontal centrering */
        align-items: center; /* Vertikal centrering */
        margin-left: 50px;
        height: 390px; /* Gør containeren fuld højde af vinduet */
        left: 50px;
       
    }
    .img-d-btn{
        display: flex; /* Placerer img-elice og app-download-div side om side */
        justify-content: start; /* Centrerer indholdet horisontalt */
        align-items: start; /* Centrerer indholdet vertikalt */
        margin-top: 100px;
        
    }
    .app-download-btn{
       display: flex;
        background-color: var(--main-color);
        text-decoration: none;
        color: var(--txt-color-2);
        text-align: center;
        padding: 20px;
        max-width: 100px;
        height: 30px;
        align-content: center;
        
        
    }
    .img-elice{
        display: flex;
        
    }
    

    .navbar-bund {
        display: none;
    }
}


/*chat bot slut*/